
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

 <div>
     <h5> Seja bem vindo ao sistema <strong>AgendaWeb</strong></h5>

     <p>Projeto desenvolvido em AspNet MVC com Dapper e SqlServer </p>


 </div>
